#store-intro {

  padding: 50px 0;

  p {

    .sentinel();
    font-size: 28px;
    margin: 0;
    line-height: 1.5;
    color: @textGray

  }

}

#store-footer {

  p {
    font-size: 14px;
    margin: 0;
  }

  hr {

    height: 1px;
    background: @lighterGray;

  }

}