<div id="accordion" class="accordion">

  <ul>

    <li class="item">
      <a class="title">Sizes</a>
      <div><p>Sizes goes here</p></div>
    </li>

    <li class="item">
      <a class="title">Questions</a>
      <div id="questions"><p>Questions go here</p></div>
    </li>

    <li class="item">
      <a class="title">Return Policy</a>
      <div id="returns"><p>Return Policy goes here</p></div>
    </li>

  </ul>

</div>