<div class="accordion">
  <ul>
    <li class="item">
      <a href="#sizes" class="title">Sizes</a>
      <div><p>Sizes goes here</p></div>
    </li>
    <li class="item">
      <a href="#questions" class="title">Questions</a>
      <div><p>Questions go here</p></div>
    </li>
    <li class="item">
      <a href="#returns" class="title">Return Policy</a>
      <div><p>Return Policy goes here</p></div>
    </li>
  </ul>
</div>